.slider {
    height: calc(100vh - 80px);
    width: 100vw;
    position: relative;
    overflow: hidden;

    .container {
        width: 300vw;
        height: 100%;
        display: flex;
        transform: translateX(-0vw);
        transition: all 1s ease;

        img {
            width: 100vw;
            height: 100%;
            object-fit: cover;
        }
    }

    .icons {
        display: flex;
        width: fit-content;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 100px;
        gap: 10px;

        .icon {
            width: 50px;
            height: 50px;
            border: 1px solid #999;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

        }
    }
}